

*{
  padding: 0;
  margin: 0;
}
body{
  font-family: "calibri light";
  background:url('../img/IN2.png');
	background-repeat:repeat;
}

.contenedor{
  background: tomato;
  width: 80%;
  margin: auto;
}
header{
  height:400;
  background-image: url("../img/IN1.jpg");
  background-position: center;
  background-size: cover;
}
main{
  background-color: lab(58.01% 12.96 58.03);
  padding: 20px 30px;
}
main .foto{
  width: 150px;
  height: 150px;
  background-color: teal;
  border-radius:50%;
  margin: -90px 0 20px 0;
  border: 6px solid #0004ff;
}
main .foto img{
  width: 100%;
  border-radius:50%;
}
footer{
  background-image: url("../img/IN3.jfif");
  text-align: center;
  padding: 25px;
  color: #ffffff;
}

