

*{
  padding: 0;
  margin: 0;
}
body{
  font-family: "calibri light";
  background:url('../img/PI3.jfif');
	background-repeat:repeat;
}

.contenedor{
  background: tomato;
  width: 80%;
  margin: auto;
}
header{
  height:400;
  background-image: url("../img/PI2.jpg");
  background-position: center;
  background-size: cover;
}
main{
  background-color: oklch(28.265% 0.09828 313.145);
  padding: 20px 30px;
  padding: 25px;
  color: #ffffff;
}
main .foto{
  width: 150px;
  height: 150px;
  background-color: teal;
  border-radius:50%;
  margin: -90px 0 20px 0;
  border: 6px solid #8625a3;
}
main .foto img{
  width: 100%;
  border-radius:50%;
}
footer{
  background-image: url("../img/PI4.jfif");
  text-align: center;
  padding: 25px;
  color: #ffffff;
}